<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48732864963-d8j6ejg92jqo2afgoalsr1e0eve8pl8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48732864963-d8j6ejg92jqo2afgoalsr1e0eve8pl8s</string>
	<key>API_KEY</key>
	<string>AIzaSyBKwKroXVqEzFEjunb_wO2c9O0EIXmYrLo</string>
	<key>GCM_SENDER_ID</key>
	<string>48732864963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.croentrain.TinderClone2</string>
	<key>PROJECT_ID</key>
	<string>tinderclone2-d4a15</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderclone2-d4a15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48732864963:ios:19142dd15ddcfb2ce73d76</string>
</dict>
</plist>